html {
  box-sizing: border-box;
  overflow-x: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-x: inherit;
}

/* === CARD ADD CART === */

.alertAdd {
  display: flex;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
}

/* FILTER DESKTOP */

.filter {
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.filterLink:hover {
  color: #ff33a7;
}

.hamburguer {
  display: none;
}

/* === MENU MOBILE === */

@media (max-width: 710px) {
  .filter {
    display: none;
  }

  .alertAdd {
    display: flex;
    position: fixed;
    margin: 0 auto;
  }

  .hamburguer {
    display: flex;
    justify-content: end;
    padding: 0.5rem 1rem;
    background: #93125e;
    width: 100vw;
    border: none;
  }

  .PopoverContent {
    background-color: #ffffff;
    border: 2px solid #ff33a7;
    border-radius: 0.75rem;
    padding: 0.75rem;
    width: 16rem;
    max-height: 40vh;
    overflow-y: auto;
    font-size: 0.9rem;
    line-height: 1.2;

    scrollbar-width: thin;
    scrollbar-color: #ff33a7 #ffebf5;
  }

  /* Itens dentro do popover */
  .PopoverContent a,
  .PopoverContent button,
  .PopoverContent li {
    width: 100%;
    text-align: left;
    display: block;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #ffe4f0;
  }

  .PopoverContent a:last-child,
  .PopoverContent button:last-child,
  .PopoverContent li:last-child {
    border-bottom: none;
  }

  /* Scrollbar */
  .PopoverContent::-webkit-scrollbar {
    width: 6px;
  }

  .PopoverContent::-webkit-scrollbar-track {
    background: #ffebf5;
    border-radius: 8px;
  }

  .PopoverContent::-webkit-scrollbar-thumb {
    background-color: #ff33a7;
    border-radius: 8px;
  }

  .filterTitle {
    color: #ff33a7;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    text-align: center;
  }

  .filterClose {
    background-color: #fff;
    border: none;
  }

  .filter1 {
    border-radius: 0.5rem;
    padding: 1rem;
    transition: 1s;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
  }

  .filterEsc {
    display: flex;
    color: #ff33a7;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    transition: 0.5s;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #ff33a7;
  }

  .filterEsc:hover {
    background-color: #ffebf5;
  }

  .PopoverArrow {
    fill: #ff33a7;
  }
}
